@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    :root {
        --color-primary: 135 94 255;
        --color-secondary: 19 17 53;
        --color-info: 150 149 185;
        --color-draft :56 46 113;
        --color-purple: 31 29 80;
        --color-success: 45 249 177;
        --color-bgGreen: 0 131 85;
    }
}